<div>
    {{!-- put whole media object as a link to single post itself --}}
    <div class="media border-bottom mt-4">
        <img src="https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170400314/75968328-avatar-of-a-man-in-a-shirt-avatar-and-face-single-icon-in-cartoon-style-vector-symbol-stock-illustra.jpg"
            height="50px" width="50px" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 d-inline-flex ">Vijay Pagare</h5>
            <span class="d-inline-flex text-muted small">
                <h6 class="font-weight-normal">@pagarevijayy</h6>
            </span>
            <span class="d-inline-flex text-muted small"> | 2016-01-12 15:12:34</span>
            <p class="mb-2">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.
            </p>
            <div class="mb-1 pl-2">
                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-heart-o"></i></h6>
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted ">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-comment-o"></i></h6>
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-retweet"></i></h6>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="media border-bottom mt-4">
        <img src="https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170400314/75968328-avatar-of-a-man-in-a-shirt-avatar-and-face-single-icon-in-cartoon-style-vector-symbol-stock-illustra.jpg"
            height="50px" width="50px" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0 d-inline-flex ">Vijay Pagare</h5>
            <span class="d-inline-flex text-muted small">
                <h6 class="font-weight-normal">@pagarevijayy</h6>
            </span>
            <span class="d-inline-flex text-muted small"> | 2016-01-12 15:12:34</span>
            <p class="mb-2">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.
            </p>
            <div class="mb-1 pl-2">
                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-heart-o"></i></h6>
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted ">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-comment-o"></i></h6>
                    </span>
                </a>

                <a href="#" class="link-rm-defaults text-muted">
                    <span class="mr-5">
                        <h6 class="d-inline-flex"><i class="fa fa-retweet"></i></h6>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>