* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: #14171A;
}

#search:hover {
    background: #f8f8f8;
}

/* Signup Page */
#sign-up-left {
    background: url("../img/Twitter\ left\ side\ logo@2x.png") no-repeat center/cover;
    color: #FFFFFF;
}

.bird-img-sm {
    height: 55px;
    ;
}

/* Utilities */

.container-2 {
    margin-top: 30vh;
    margin-left: 15%;
    text-align: left;
}

.full-height {
    height: 100vh;
}

.link-hover:hover {
    background-color: #e3f2fd;
}

.scale-on-hover {
    transition: transform .2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.02);
}

.link-rm-defaults {
    text-decoration: none;
}

.link-rm-defaults:hover {
    text-decoration: none;
}

.bg-white {
    background: white;
}

.user:hover {
    background-color: #F5F8FA;
    cursor: pointer;
}

/* .follow-list {
    cursor: pointer;
} */